
.mainBanner{
    margin-top: 10px;
    .swiper-pagination{
      
        bottom: 17px;
      }
    .mainBanner-parent{
    position: relative;
   }



}




.mainBanner-link{
    img{
        width: 100%;
        object-fit: cover;
    }
}





.mainBanner-link{
    height: 100%;
    width: 100%;
}




@include max-992 {
    .mainBanner{
        .swiper-pagination{
            bottom: 12px;
        }
    }
   
}


@include max-768 {
    .mainBanner-link img{
        height: 100%;
    }
}


@media screen and (max-width:450px) {
    .mainBanner .mainslider-item{
        height: 157px;
    }
}
